<%- include('Layout/header'); -%>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h2"><%= username %><span class="badge badge-secondary">فعال</span></h3>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" onclick="" class="btn btn-sm btn-outline-secondary">تحديث</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"><i class="fas fa-calendar-week"></i>أخر أسبوع</button>
            </div>
          </div>
          <section class="container">
          <div class="row">
            <div class="col-lg-6 card">
                <div class="card-header"><h4><%= title %></h4></div>
                <div class="card-body">
                  <form>
                    <div class="form-row">
                      <div class="col-md-12">
                        <label>الرمز المرجعي_ID</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-qrcode"></i></span>
                          </div>
                          <input id="UserID" type="text" class="form-control" placeholder="<%= userid %>"  readonly>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label>إسم العميل</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= username %>"  readonly>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label>تاريخ الميلاد</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= userbd %>"  readonly>
                        </div>
                    </div>
                      <div class="col-md-6">
                        <label>الإيميل</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= useremail %>"  readonly>
                        </div>
                      </div>
                        <div class="col-md-6">
                          <label>الجوال المسجل</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-at"></i></span>
                              <div class="valid-feedback">تم التأكيد</div>
                            </div>
                            <input type="text" class="form-control is-valid" placeholder="<%= userphone %>"  readonly>
                          </div>
                    </div>
                      </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <label>الدولة</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-flag"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= usercountry %>"  readonly>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label>المدينة</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-city"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= usercity %>"  readonly>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label>العنوان</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-map-marker-alt"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="<%= userAddress %>"  readonly>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
          </section>
    </main>
<%- include('Layout/footer'); -%>